//---------------------------------------------------------------------------
//
// Name:        Xrp_WalletApp.rc
// Author:
// Created:     4/01/2017 07:55:31
// Description:
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>